<header>
  <h2>Add Media To Watch</h2>
</header>
<form>
  <ul>
    <li>
      <label for="medium">Medium</label>
      <select name="medium" id="medium">
        <option value="Movies">Movies</option>
        <option value="Series">Series</option>
      </select>
    </li>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </li>
    <li>
      <label for="category">Category</label>
      <select id="category" name="category">
        <option value="Action">Action</option>
        <option value="Science">Science</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Horror">Horror</option>
      </select>
    </li>
  </ul>
</form>
